pom.xml
pom.xml.asc
*.class
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.lsp
.clj-kondo/.cache
.clj-kondo/.lock
.clj-kondo/inline-configs
.cpcache
results
.sounds
.DS_Store
*dylib
*so

do_not_commit_me
bin/flecs.h
bin/flecs.c

.clerk/
.vybe
.overtone
sodium.tar.gz
libsodium-1.0.20/

*.vybe*-includes*
*zig-cache*
*zig-out*
.vscode

vybe_native/*.zip
vybe_native/macos
vybe_native/windows

resources/vybe/native/*.zip
resources/vybe/native/macos
resources/vybe/native/windows
