[submodule "flecs"]
	path = flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "resources/com/pfeodrippe/vybe/shaders/lygia"]
	path = resources/com/pfeodrippe/vybe/shaders/lygia
	url = https://github.com/patriciogonzalezvivo/lygia.git
[submodule "zig-gamedev"]
	path = zig-gamedev
	url = https://github.com/zig-gamedev/zig-gamedev.git
[submodule "JoltPhysics"]
	path = JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
