pom.xml
pom.xml.asc
*.class
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.lsp
.clj-kondo/.cache
.cpcache
results
.sounds
.DS_Store
*dylib
*so

do_not_commit_me
bin/flecs.h
bin/flecs.c

.clerk/

sodium.tar.gz
libsodium-1.0.20/

*.vybe*-includes*
*zig-cache*
*zig-out*
.vscode
