{:deps {potemkin/potemkin {:mvn/version "0.4.7"}
        metosin/malli {:mvn/version "0.11.0"}
        meta-merge/meta-merge {:mvn/version "1.0.0"}
        metosin/jsonista {:mvn/version "0.3.7"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        lambdaisland/deep-diff2 {:mvn/version "2.11.216"}

        ;; File watcher.
        com.nextjournal/beholder {:mvn/version "1.0.2"}

        ;; NREPL
        nrepl/nrepl {:mvn/version "1.1.1"}
        cider/cider-nrepl {:mvn/version "0.45.0"}

        ;; For flecs.
        com.github.jnr/jnr-ffi {:mvn/version "2.2.14"}
        com.github.omkamra/jnr {:mvn/version "0.1.0"}
        clj-antlr/clj-antlr {:mvn/version "0.2.12"}

        ;; Sound.
        overtone/overtone {:mvn/version "0.13.3177"}}

 :aliases
 { ;; Run with clj -T:build function-in-build
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.3"}}
          :ns-default build}


  :dev {:jvm-opts ["--enable-preview"
                   "--enable-native-access=ALL-UNNAMED"
                   "-Djdk.attach.allowAttachSelf"
                   "-XstartOnFirstThread"
                   "-XX:+UnlockDiagnosticVMOptions"
                   "-XX:+DebugNonSafepoints"
                   "-XX:+CreateCoredumpOnCrash"
                   "-Djava.library.path=./resources"

                   "-XX:ReservedCodeCacheSize=1024m"

                   ;; For tracing panama calls.
                   #_"-Djextract.trace.downcalls=true"]

        :extra-paths ["test"]
        :extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.3"}
                     djblue/portal {:mvn/version "0.48.0"}
                     com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.4"}}}}


 :paths ["src" "resources" ".sounds" "target/classes"]}
