{:linters {:unresolved-var {:exclude [vybe.raylib]}
           :unused-value {:level :off}
           :unresolved-symbol {:exclude [match?]}}

 :lint-as {potemkin/def-map-type clj-kondo.lint-as/def-catch-all
           potemkin/def-abstract-type clj-kondo.lint-as/def-catch-all
           potemkin/deftype+ clj-kondo.lint-as/def-catch-all
           potemkin/defrecord+ clojure.core/defrecord
           potemkin/definterface+ clojure.core/definterface

           vybe.panama/defopaques clj-kondo.lint-as/def-catch-all
           vybe.panama/defcomp clojure.core/def}

 :hooks {:analyze-call {vybe.flecs/with-query hooks.vybe/with-query
                        vybe.flecs/with-query-one hooks.vybe/with-query
                        vybe.flecs/with-system hooks.vybe/with-query
                        vybe.flecs/with-observer hooks.vybe/with-query

                        vybe.flecs/defquery hooks.vybe/defquery
                        vybe.flecs/defobserver hooks.vybe/defquery
                        vybe.flecs/defsystem hooks.vybe/defquery
                        vybe.flecs/defsystem-c hooks.vybe/defquery}}}
